<div class="container" style="margin-top: 160px;">
  <%= form_for :album_ids, url: multi_delete_admin_albums_path, method: :delete do |f| %>
    <%= f.submit '批次刪除', class: 'btn btn-danger' %>
    <%= link_to('新增菜單本', new_admin_album_path, class: 'btn btn-danger pull-right') %> 
    <div class="clearfix"></div>
    <hr>
    <!-- form start -->
    <table class="table">
      <tr>
        <td width="30"><input type="checkbox" id="checkall"></td>
        <td>Album</td>
        <td>Photo</td>
        <td>Actions</td>
      </tr>
      <% @albums.each do |album| %>
        <tr>
          <td><%= f.check_box nil, { class: 'album_ids_checkbox' }, album.id, nil %></td>
          <td><%= link_to(album.name, admin_album_path(album)) %></td>
          <td></td>
          <td>
            <%= link_to('編輯', edit_admin_album_path(album)) %>
            <%= link_to('刪除', admin_album_path(album), :method => 'delete') %><p>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <!-- form end -->
  <%= will_paginate(@albums) %>
</div>


<script>
  $('#checkall').click(function(){
    $('.album_ids_checkbox').prop('checked', $(this).prop('checked'));
  });
</script>